<div class="bottom-image">
        <img src="../images/background8.jpg" alt="Botanical Bottom Banner">
      </div>
      
      <footer class="footer-bar">
        <p>&copy; 2025 The Botanical Beat ❀ All rights reserved.                       
            <i class="fab fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-tiktok"></i>
            TheBotanicalBeat
            <div class="footer-links">
            <a href="/events/about">About</a> | 
            <a href="/events/contact">Contact</a>
            </div>
        </p>
      </footer>
      <script src="https://kit.fontawesome.com/83df45ea20.js" crossorigin="anonymous"></script>
      <script src="/scripts/main.js"></script>
  </body>
</html>