<%- include('./partials/header.ejs')%>
  
    <main>
      <h1 class="pagetitle">Home Page</h1>
      <div class="content-box2">
        <h2>
            About us!
        </h2>
        <p>
           We are a small community run organization that was founded this year.
           We encourage our community to collaborate and create events to fill
           our website and foster connection. We are actively looking for officials
           to help us organize and spread event awareness so feel 
           free to reach out to us. Check under our 
            events tabs or click <a href='/events'>here</a> for 
            events coming soon near you!
        </p>
      </div>
    </main>
    
<%- include('./partials/footer.ejs')%>