<%- include('./partials/header.ejs')%>
  
    <main>
      <h1 class="pagetitle">Home Page</h1>
      <div class="content-box2">
        <h2>
            Contact Us!
        </h2>
        <p>
            Feel free to contact us with any questions you may have! Our phone number is 910-730-3945
            and our email is BotanicalBeat@gmail.com.
        </p>
      </div>
    </main>
    
<%- include('./partials/footer.ejs')%>