<%- include('./partials/header.ejs')%>
  
    <main>
      <h1 class="pagetitle">Home Page</h1>
      <div class="content-box2">
        <h2>
            Welcome to the Botanical Beat official site!
        </h2>
        <p>
            We aim to foster a collaborative community 
            in the botany and gardening scene providing 
            information for upcoming events, meetups for 
            fruits, vegetable, and plate sales, and allow 
            you to make events as well! Check under our 
            events tabs or click <a href='/events'>here</a> for 
            events coming soon near you!
        </p>
      </div>
    </main>
    
<%- include('./partials/footer.ejs')%>